.AnimationWarper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

@keyframes boobles {
    0% {
        transform: rotate(20deg);
        background-color: transparent;
        top: 150%;
    }
    100% {
        transform: rotate(90deg);
        background-color: transparent;

        top: -100%;
    }
}

@keyframes sakura {
    0% {
        transform: rotate(0deg);
        background-color: pink;
        border-color: rgb(205, 138, 50);
        top: -150%;
    }
    100% {
        transform: rotate(90deg);
        background-color: pink;
        border-color: rgb(255, 115, 0);
        top: 150%;
    }
}
