@import "./Router/components/NavigationButton/NavigationButton.scss";
@import "./GamePage/Game.scss";
@import "./Router/Nav.scss";
@import "./AnimationWarper/AnimationWatper.scss";

:root {
    --mainbackground: aqua;
}

html {
    background-color: var(--mainbackground);
    height: 100%;
    overflow-x:hidden;
}

body {
    margin: 0;
    height: inherit;
}

.output{
    height: inherit;
}

.home{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
