.Ansver {
}

.Ansver button {
    background-color: bisque;
    border-color: blanchedalmond;
    border-radius: 0.5rem;
    height: 5rem;
    width: 10rem;
    margin: 1rem;
}

.GameMain{
    height: 100%;
    position: fixed;
    width: 100%;
    overflow: auto;
}
