.NavButoon {
    background-color: lightgray;
    border-style: solid;
    border-color: black;
    min-width: 10rem;
    min-height: 5rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: bisque;
    border-color: antiquewhite;
    text-decoration: auto;
}
.NavButoon:hover {
    background-color: antiquewhite;
}
