.NavBar {
    background-color: bisque;
    margin: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0.1rem;
    border-color: black;
    border-style: solid;
    position: sticky;
    top: 0;
    display: flex;
    padding-left: 0.3rem;
    display: flex;
    flex-wrap: wrap;
}

.NavBar a {
    text-decoration: solid;
}

.NavBar a div {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    margin-right: 0.6rem;
    background-color: cornsilk;
    padding: 0.7rem;
    border-radius: 0.2rem;
}
